<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <title>Weather App - About</title>
  </head>
  <body>
    {{>navbar}}
    <main>
      <img src="/img/job.png" width="48px" height="48px" alt="Person icon with a sign">
    </main>
    {{>footer}}
  </body>
</html>
